.reset-container {
    background-image: url(../images/reset-password.svg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.verify-container {
    background-image: url(../images/verify-password.svg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.forget-container {
    background-image: url(../images/forget-password.svg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.box {
    width: 400px; /* Adjust the width of the login box */
    padding: 40px;
    background-color: #4c6fbf;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.box h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
}

.box p {
    text-align: center;
    margin-bottom: 10px;
}

.box form {
    width: 100%;
    max-width: 350px;
}

#submit-btn {
    width: 100%;
    background-color: #1CBF63;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#submit-btn:hover {
    background-color: #2C4487;
}

.form-label {
    margin-bottom: 5px;
}

.form-control {
    border-radius: 8px;
    height: 30px;
}